[hiddenAction_建筑标签]
autoTrigger: if self.tags(includes="建筑true") and not self.tags(includes="ALB")
temporarilyAddTags: ALB

[hiddenAction_死亡脉石反馈]
autoTriggerOnEvent:destroyed
sendMessageTo:lastDamagedBy
sendMessageWithData:脉石=self.maxHp/100
sendMessageWithTags:脉石
requireConditional: if self.tags(includes="建筑true")
[hiddenAction_死亡给予脉石]
autoTriggerOnEvent: destroyed
addResourcesWithLogic: 相位脉石=self.maxHp/300
requireConditional: if self.tags(includes="建筑true") and self.globalTeamTags(includes="相位脉石buff")
