[core]
copyFrom: 异常状态.template,资源.template,状态.template,属性计算.template,界面.template
@memory 伤害倍率:float
@memory 高温减益:float
@memory 自身伤害倍率:float
@memory 阵营伤害倍率:float
@memory 移动倍率:float
@memory 低温减益:float
@memory 自身移动倍率:float
@memory 阵营移动倍率:float
@memory 护盾上限: float
@memory 额外护盾上限: float
@memory 运输槽: float
@memory 母单位: unit

[hiddenAction_非实验]
autoTrigger: if not self.tags(includes="超级") and not self.tags(includes="非超级")
temporarilyAddTags: 非超级
[hiddenAction_实验]
autoTrigger: if self.tags(includes="超级") and self.tags(includes="非超级")
temporarilyRemoveTags: 非超级
[hiddenAction_失败]
autoTrigger:if self.globalTeamTags(includes="失败")
addResources:hp=${core.maxHp*(-10)}
[hiddenAction_受损]
autoTrigger: if not self.tags(includes="受损") and self.hp<self.maxHp
temporarilyAddTags: 受损
[hiddenAction_解除受损]
autoTrigger: if self.tags(includes="受损") and self.hp>=self.maxHp
temporarilyRemoveTags: 受损

[hiddenAction_脉石反馈]
autoTriggerOnEvent:newMessage(withTag='脉石')
addResourcesWithLogic:相位脉石=eventData('脉石',type='float',default=0)
[hiddenAction_价格标记]
autoTrigger:if self.resource.价格!=${template_core.NanoP}
setResourcesWithLogic:价格=${template_core.NanoP}

[hiddenAction_初始化]
autoTriggerOnEvent: created
temporarilyAddTags: 可运输
setUnitMemory: 护盾上限=${core.maxShield},运输槽=${core.transportSlotsNeeded}
setResourcesWithLogic: 护盾记录=0,护盾伤害=0

[hiddenAction_护盾回复]
autoTrigger: if self.shield<memory.护盾上限
addResourcesWithLogic: shield=${template_core.shieldRegen*0.1}

[hiddenAction_计伤]
autoTriggerOnEvent: tookDamage
setResourcesWithLogic: 受击伤害=self.resource.血量-self.hp
alsoTriggerAction: 亚零度血量流失,血量计算

[hiddenAction_血量计算]
autoTrigger:if self.resource.血量!=self.hp and self.maxHp>0
setResourcesWithLogic: 血量=self.hp

[hiddenAction_进入载具]
autoTriggerOnEvent: enteredTransport
sendMessageTo: parent
sendMessageWithData: 运输槽=${core.transportSlotsNeeded}
sendMessageWithTags: 进入载具
setUnitMemory: 母单位=parent
[hiddenAction_离开载具]
autoTriggerOnEvent: leftTransport
sendMessageTo: memory.母单位
sendMessageWithData: 运输槽=${core.transportSlotsNeeded}
sendMessageWithTags: 离开载具
[template_升级]
tags: 升级
convertTo:${target}
convertTo_keepCurrentTags: true
description: \n- 非建筑单位在升级或改造时无法移动与攻击 -\n
descriptionAddFromUnit:${target}
descriptionAddUnitStats:${target}
text:升级[ 
textPostFix: ]
displayType:Upgrade
iconExtraImage:ROOT:数据/贴图/图标/升级图标.png
pos: 1
isLocked: if numberOfUnitsInTeam(withTag="工厂",withinRange=150,lessThan=1) and self.numberOfUnitsInAllyNotOwnTeam(withTag="工厂",withinRange=150,lessThan=1) and not self.tags(includes="建筑true")
isLockedMessage: 150范围内没有工厂,无法改造
whenBuilding_cannotMove: true
whenBuilding_triggerAction: 升级状态,无法攻击
temporarilyRemoveTags: 升级中, 无法攻击, ${core.name},T${template_core.techLevel},建筑${core.isBuilding},生物${core.isBio},虫族${core.isBug},${template_core.typeTags},${movement.movementType},${template_core.tags},单位
temporarilyAddTags: 可运输
alsoQueueAction: 重置标签
[hiddenAction_重置标签]
temporarilyAddTags: ${core.name},T${template_core.techLevel},建筑${core.isBuilding},生物${core.isBio},虫族${core.isBug},${template_core.typeTags},${movement.movementType},${template_core.tags},单位
highPriorityQueue: true
buildSpeed: 0.01s
autoTrigger: if not self.tags(includes="单位")
sendMessageTo: self
sendMessageWithTags: 完成升级
temporarilyRemoveTags: 升级中
[hiddenAction_升级状态]
temporarilyAddTags: 升级中
temporarilyRemoveTags: 可运输
[hiddenAction_无法攻击]
temporarilyAddTags: 无法攻击
requireConditional: if not self.tags(includes="建筑true")
[hiddenAction_禁用路径]
autoTriggerOnEvent: newWaypointGivenByPlayer
clearAllWaypoints: true
requireConditional: if self.tags(includes="升级中")
[hiddenAction_升级解除]
autoTriggerOnEvent: queueItemCancelled(withActionTag="升级")
temporarilyRemoveTags: 升级中,无法攻击
temporarilyAddTags: 可运输
[graphics]
disableLowHpFire: true
showHealthBar: false
showEnergyBar: false
showShieldBar: false
#showTransportBar: false

[effect_警告]
image: ROOT:数据/贴图/图标/警告.png
life:120
fadeOut:true
createWhenOffscreen: true
alpha:0.99
priority: veryhigh
scaleFrom:1.15
scaleTo:1.1
fadeInTime:15
alwayStartDirAtZero: true
alsoPlaySound: ROOT:数据/音效/警告.ogg
showInFog: true

[template_抛射体1]
tags:抛射体,${tags},${section.deflectionPower}
@define tags: 炮弹
mutatorAL1_ifUnitWithTags:AL1
mutatorAL1_areaDamageMultiplier:1
mutatorAL2_ifUnitWithTags:AL2
mutatorAL2_areaDamageMultiplier:0.5
mutatorAL3_ifUnitWithTags:AL3
mutatorAL3_areaDamageMultiplier:0.25
mutator建筑_ifUnitWithTags:ALB
mutator建筑_areaDamageMultiplier: 0.5
mutator潜_ifUnitWithTags:潜
mutator潜_areaDamageMultiplier: 1
mutator陆_ifUnitWithTags:陆
mutator陆_areaDamageMultiplier: 1
mutator空_ifUnitWithTags:空
mutator空_areaDamageMultiplier: 1
deflectionPower: 1
areaRadius:1
areaRadiusFromEdge: true
explodeOnEndOfLife: true
[template_抛射体2]
@copyFromSection:template_抛射体1
areaDamageNoFalloff: true
