[hiddenAction_被1级探测]
autoTriggerOnEvent:tookDamage(withTag="探测1级")
spawnEffects:警告
[hiddenAction_被2级探测]
autoTriggerOnEvent:tookDamage(withTag="探测2级")
spawnUnits:视野1(addResources=energy:1,setToTeamOfLastAttacker=true)
[hiddenAction_伤害反馈]
autoTriggerOnEvent:newMessage(withTag='伤害')
setResourcesWithLogic:造成伤害=eventData('伤害',type='float',default=0)
[hiddenAction_血量回复]
setResourcesWithLogic:hp=self.maxHp

[hiddenAction_护盾状态]
autoTrigger: if self.shield>=self.maxShield*0.1 and not self.tags(includes="护盾") and self.maxShield>0
temporarilyAddTags: 护盾
[hiddenAction_离开护盾状态]
autoTrigger: if self.shield<self.maxShield*0.1 and self.tags(includes="护盾")
temporarilyRemoveTags: 护盾
[action_能量护盾]
isVisible: if self.shield>=self.maxShield*0.1 and self.maxShield>0
text: - 能量护盾[%{int(self.shield-self.resource.屏障)}] -
description:◆单位处于护盾庇护下◆\n当前具有%{int(self.shield)}点护盾\n基础回复速度: +${int(template_core.shieldRegen)}/s\n被护盾庇护的单位不会被高温,低温,衰变等攻击导致异常状态\n(已有的异常状态不会因护盾庇护解除)\n当护盾低于%{self.maxShield*0.1}时,该效果将失效
isActive:false
isAlsoViewableByAllies:true
isAlsoViewableByEnemies:true
displayType:infoOnlyNoBox
iconImage:ROOT:数据/贴图/图标/护盾庇护.png
iconExtraImage:ROOT:数据/贴图/图标/护盾庇护.png
pos:30
[action_能量护盾_失效]
isVisible: if self.shield<self.maxShield*0.1 and self.maxShield>0
text: - 能量护盾[%{int(self.shield)}] -
description:◇单位护盾已失效◇\n当前具有%{int(self.shield)}点护盾\n当前护盾值过低,无法正常产生庇护效果\n当护盾高于%{self.maxShield*0.1}时,该效果将恢复
iconImage:ROOT:数据/贴图/图标/护盾庇护.png
iconExtraImage:IGNORE
@copyFromSection: action_能量护盾

[action_屏障]
isVisible:if self.resource.屏障>0
text: - 屏障[%{int(self.resource.屏障)}] -
description:◆单位目前被屏障保护◆\n当前具有%{int(self.resource.屏障)}点屏障\n单位拥有屏障时,护盾上限将变为[原有护盾上限+屏障量],并同时获得等同于获得的屏障量的护盾\n每1点屏障抵消1点伤害\n当护盾大于原有护盾上限时,护盾不会自然回复\n屏障量减少时,护盾上限也会相应变化,但不会少于原有的护盾上限
isActive:false
isAlsoViewableByAllies:true
isAlsoViewableByEnemies:true
displayType:infoOnlyNoBox
iconImage:ROOT:数据/贴图/图标/屏障.png
pos:30
autoTrigger: if self.resource.屏障记录>self.resource.屏障
setResourcesWithLogic: 屏障记录=self.resource.屏障
[hiddenAction_护盾记录]
autoTriggerOnEvent: tookDamage
setResourcesWithLogic:护盾伤害=self.resource.护盾记录-self.shield
alsoTriggerAction:护盾修正
[hiddenAction_护盾修正]
autoTrigger:if self.resource.护盾记录!=self.shield
setResourcesWithLogic:护盾记录=self.shield
alsoTriggerOrQueueActionConditional: if self.resource.护盾伤害>0
alsoTriggerAction:屏障受损
[hiddenAction_屏障增加]
autoTrigger: if self.resource.屏障记录<self.resource.屏障
addResourcesWithLogic: shield=self.shield+(self.resource.屏障-self.resource.屏障记录)
alsoTriggerAction: 屏障
[hiddenAction_屏障受损]
requireConditional: if self.resource.屏障>0 and self.resource.护盾伤害>0
addResourcesWithLogic: 屏障=(self.resource.护盾伤害)*(-1)
alsoTriggerAction: 护盾伤害清除
[hiddenAction_护盾伤害清除]
setResourcesWithLogic: 护盾伤害=0
[hiddenAction_屏障清除]
autoTrigger: if self.shield<10 and self.shield<self.resource.屏障
setResourcesWithLogic: 屏障=0
[hiddenAction_最大屏障计算]
autoTrigger: if self.resource.最大屏障<self.resource.屏障
setResourcesWithLogic: 最大屏障=self.resource.屏障
[hiddenAction_最大屏障重置]
autoTrigger: if self.resource.屏障<=0
setResourcesWithLogic: 最大屏障=0,屏障=0