[core]
showInEditor:false
price:0
maxHp:0
radius:0
mass: 2147483647
isBuilding:false
isBuilder:false
showOnMinimapToEnemies:false
explodeOnDeath:false
isUnrepairableUnit:true
isUnselectableAsTarget:true
disableDeathOnZeroHp:true
disableAllUnitCollisions:true
autoTriggerCooldownTime_allowDangerousHighCPU:true
autoTriggerCooldownTime:0.01s
canNotBeDirectlyAttacked:true
canNotBeDamaged:true
fogOfWarSightRange:0
[hiddenAction_失败]
autoTrigger:if self.globalTeamTags(includes="失败")
deleteSelf:true
[graphics]
image: SHARED:blank.png
disableLowHpFire:true
disableLowHpSmoke:true
rotate_with_direction:false
isVisibleToEnemies:false
[attack]
canAttack:false
