[action_高温]
isVisible:if self.resource.高温>0 and self.resource.高温<=self.maxHp/2 and self.maxHp>0
autoTrigger:${section.isVisible}
text: - 高温[%{int(self.resource.高温)}] -
description:!单位目前温度异常!\n当前积累%{int(self.resource.高温)}点高温\n当高温超过%{self.maxHp/2}时,将会受到由高温导致的伤害\n因为过热,单位攻击伤害降低%{min(int(self.resource.高温/self.maxHp/(0.02)),90)}%
isActive:false
isAlsoViewableByAllies:true
isAlsoViewableByEnemies:true
displayType:infoOnlyNoBox
iconImage:ROOT:数据/贴图/图标/高温.png
iconExtraImage:ROOT:数据/贴图/图标/高温模糊光.png
iconExtraIsVisible: if self.resource.高温>self.maxHp/2
pos:30
addResourcesWithLogic: 高温=-2
setUnitMemory: 高温减益=self.resource.高温/self.maxHp/(-2)
spawnEffects: CUSTOM:火花*${int(core.radius/2)}
[action_超高温]
@copyFromSection: action_高温
isVisible:if self.resource.高温>self.maxHp/2 and self.maxHp>0
text: - 超高温[%{int(self.resource.高温)}] -
description:!单位目前温度异常!\n当前积累%{int(self.resource.高温)}点高温\n当高温超过%{self.maxHp/2}时,将会受到由高温导致的伤害\n当前因高温每秒损失%{int((self.resource.高温-self.maxHp/2)*0.02+20)}点伤害\n预计还会受到%{max(int(self.resource.高温-self.maxHp/2),0)}点伤害\n因为过热,单位攻击伤害降低%{min(int(self.resource.高温/self.maxHp/(0.02)),90)}%
[hiddenAction_超高温失血]
autoTrigger:if self.resource.高温>self.maxHp/2 and self.maxHp>0
addResourcesWithLogic: hp=((self.resource.高温-self.maxHp/2)*0.02+20)*-0.1,高温=(self.resource.高温-self.maxHp/2)*-0.02/10
spawnEffects: CUSTOM:燃烧*${int(core.radius/2)},CUSTOM:火花*${int(core.radius/2)}

[action_低温]
isVisible:if self.resource.低温>0 and self.resource.低温<=self.maxHp/2
autoTrigger:${section.isVisible}
text: - 低温[%{int(self.resource.低温)}] -
description:!单位目前温度异常!\n当前积累%{int(self.resource.低温)}点低温\n当低温超过%{self.maxHp/2}时,单位会因过量的低温变得脆弱\n因为低温,单位移动速度降低%{int(self.resource.低温/self.maxHp/(0.01))}%移动速度
isActive:false
isAlsoViewableByAllies:true
isAlsoViewableByEnemies:true
displayType:infoOnlyNoBox
iconImage:ROOT:数据/贴图/图标/低温.png
iconExtraImage:ROOT:数据/贴图/图标/低温模糊光.png
iconExtraIsVisible: if self.resource.低温>self.maxHp
pos:30
addResourcesWithLogic: 低温=-self.maxHp*0.02*0.1
setUnitMemory: 低温减益=-(self.resource.低温/self.maxHp)
spawnEffects: CUSTOM:霜寒*${int(core.radius/2)}
[action_亚零度]
@copyFromSection: action_低温
isVisible:if self.resource.低温>self.maxHp/2 and self.maxHp>0
autoTrigger: false
text: - 亚零度[%{int(self.resource.低温)}] -
description:!单位目前温度异常!\n当前积累%{int(self.resource.低温)}点低温\n当低温超过%{self.maxHp/2}时,单位会因过量的低温变得脆弱\n当前单位温度极低,每次受击时,都会流失等同于本次受击伤害的%{((self.resource.低温-self.maxHp/2)/self.maxHp)*(200)}%生命值\n因为低温,单位移动速度降低%{min(int(self.resource.低温/self.maxHp/(0.01)),90)}%
[hiddenAction_亚零度血量流失]
requireConditional: if self.resource.低温>self.maxHp/2 and self.maxHp>0
addResourcesWithLogic:""" hp=-max(min( self.resource.受击伤害*(self.resource.低温-self.maxHp/2)/self.maxHp*2,self.resource.低温-self.maxHp/2),0) , 低温=-min( self.resource.受击伤害*(self.resource.低温-self.maxHp/2)/self.maxHp*2 , self.resource.低温-self.maxHp/2 )"""
[hiddenAction_低温失血]
autoTrigger:if self.resource.低温>self.maxHp/2 and self.maxHp>0
addResourcesWithLogic: hp=-1,低温=-self.maxHp*0.02*0.1
spawnEffects: CUSTOM:冰晶*${int(core.radius/2)},CUSTOM:霜寒*${int(core.radius/2)}
setUnitMemory: 低温减益=-(self.resource.低温/self.maxHp)


[hiddenAction_低温骤变]
autoTrigger: if self.resource.高温>0 and self.resource.低温>0 and self.resource.高温>=self.resource.低温
requireConditional: ${section.autoTrigger}
autoTriggerOnEvent: tookDamage
setResourcesWithLogic:hp=self.hp-self.resource.低温*2 , 高温=(self.resource.高温-self.resource.低温), 低温=0
[hiddenAction_高温骤变]
autoTrigger: if self.resource.高温>0 and self.resource.低温>0 and self.resource.高温<self.resource.低温
@copyFromSection: hiddenAction_低温骤变
setResourcesWithLogic:hp=self.hp-self.resource.高温*2 , 低温=(self.resource.低温-self.resource.高温), 高温=0

[action_衰化]
isVisible:if self.resource.衰化>0 and self.resource.衰化<=self.maxHp/2 and self.maxHp>0
autoTrigger:${section.isVisible}
text: - 衰化[%{int(self.resource.衰化)}] -
description:!单位目前正在衰变!\n当前积累%{int(self.resource.衰化)}点衰化\n当衰化超过%{self.maxHp/2}时,将会凋零,额外受到伤害\n当前因衰化每秒损失%{int((self.resource.衰化)*0.1+50)}点伤害\n预计还会受到%{max(int(self.resource.衰化),0)}点伤害
isActive:false
isAlsoViewableByAllies:true
isAlsoViewableByEnemies:true
displayType:infoOnlyNoBox
iconImage:ROOT:数据/贴图/图标/衰化.png
iconExtraImage:ROOT:数据/贴图/图标/衰化模糊光.png
iconExtraIsVisible: if self.resource.衰化>self.maxHp/2
pos:30
#addResourcesWithLogic: 衰化=-10
[action_凋零]
@copyFromSection: action_衰化
isVisible:if self.resource.衰化>self.maxHp/2 and self.maxHp>0
text: - 超衰化[%{int(self.resource.衰化)}] -
description:!单位目前在迅速凋零!\n当前积累%{int(self.resource.衰化)}点衰化\n当衰化超过%{self.maxHp/2}时,将会凋零,额外受到伤害\n当前因衰化每秒损失%{int((self.resource.衰化)*0.2+50)}点伤害与同等生命上限\n预计还会受到%{max(int(self.resource.衰化),0)}点伤害
[hiddenAction_衰化失血]
autoTrigger:if self.resource.衰化>0 and self.maxHp>0
addResourcesWithLogic: hp=(self.resource.衰化*0.1+50)*-0.1,衰化=(self.resource.衰化*0.1+50)*-0.1
spawnEffects: CUSTOM:衰化
[hiddenAction_凋零失血]
autoTrigger:if self.resource.衰化>self.maxHp/2 and self.maxHp>0
addResourcesWithLogic: hp=(self.resource.衰化*0.1+50)*-0.1,衰化=(self.resource.衰化*0.1+50)*-0.2
setUnitStats: maxHp-=(self.resource.衰化*0.1)*0.1
spawnEffects: CUSTOM:凋零

[effect_衰化]
image:ROOT:数据/贴图/特效/衰化气泡.png
life: 120
scaleFrom: 0.4
scaleTo: 0.5
alpha: 1
fadeInTime: 40
fadeOut: true
hSpeed: 0.1
hSpeedRandom: 0.05
alwayStartDirAtZero: true
xSpeedRelativeRandom: 0.1
ySpeedRelativeRandom: 0.1
xOffsetRelativeRandom: 5
yOffsetRelativeRandom: 5
spawnChance: 0.3
xOffsetRelativeRandom: ${core.radius}
yOffsetRelativeRandom: ${core.radius}
dirSpeed: 4
dirSpeedRandom: 2
dirOffsetRandom: 360
[effect_凋零]
@copyFromSection: effect_衰化
color: #000000
[effect_火花]
image: ROOT:数据/贴图/特效/1像素.png
life: 60
color: #FF7100
scaleFrom: 1
scaleTo: 2
alpha: 1
fadeInTime: 20
fadeOut: true
hSpeed: 0.3
hSpeedRandom: 0.1
alwayStartDirAtZero: true
xSpeedRelativeRandom: 0.2
ySpeedRelativeRandom: 0.2
xOffsetRelativeRandom: 10
yOffsetRelativeRandom: 10
xOffsetRelativeRandom: ${core.radius}
yOffsetRelativeRandom: ${core.radius}
spawnChance: 0.1
[effect_燃烧]
total_frames:5
animateFrameStart:0
animateFrameEnd:5
animateFramePingPong:true
animateFrameSpeed:0
stripIndex: fire
life: 60
color: #FDC14D
scaleFrom: 1
scaleTo: 0.8
alpha: 1
fadeInTime: 20
fadeOut: true
hSpeed: 0.2
hSpeedRandom: 0.1
alwayStartDirAtZero: true
xSpeedRelativeRandom: 0.2
ySpeedRelativeRandom: 0.2
xOffsetRelativeRandom: 10
yOffsetRelativeRandom: 10
xOffsetRelativeRandom: ${core.radius}
yOffsetRelativeRandom: ${core.radius}
spawnChance: 0.1
[effect_霜寒]
life:60
lifeRandom:20
color: #D0FFFF
image:ROOT:数据/贴图/特效/1像素.png
alpha:0.6
fadeInTime: 20
fadeOut: true
hSpeed: -0.08
hSpeedRandom: 0.03
attachedToUnit:true
xOffsetRelativeRandom: ${core.radius}
yOffsetRelativeRandom: ${core.radius}
scaleTo:1.5
scaleFrom:1
hOffset: 3
hOffsetRandom: 1
spawnChance: 0.1
[effect_冰晶]
life:40
lifeRandom:15
image:ROOT:数据/贴图/特效/寒冷粒子.png
scaleTo:0
scaleFrom:0.75
alpha:0.8
xOffsetRelativeRandom: ${core.radius}
yOffsetRelativeRandom: ${core.radius}
fadeOut:true
fadeInTime:15
dirOffsetRandom:360
delayedStartTimer:60
delayedStartTimerRandom:60
spawnChance: 0.08
