[decal_ALB图标]
layer: beforeUI
order: 1.5
image:ROOT:数据/贴图/图标/ALB.png
onlyWhileAlive: true
alwaysStartDirAtZero: true
xOffsetAbsolute: ${core.radius}*(-1)-3
yOffsetAbsolute: ${core.radius}*(-1)-4
alpha: 1
imageScale: 0.2
isVisible: if (self.hp<self.maxHp or self.shield<memory.护盾上限 or self.resource.屏障<self.resource.最大屏障 or (self.energy<self.maxEnergy and self.energy>0)) and self.tags(includes="ALB") and not (self.tags(includes="隐藏单位") or self.hasParent)
color: #00FFFF
[decal_AL1图标]
@copyFromSection: decal_ALB图标
image:ROOT:数据/贴图/图标/AL1.png
isVisible: if (self.hp<self.maxHp or self.shield<memory.护盾上限 or self.resource.屏障<self.resource.最大屏障 or (self.energy<self.maxEnergy and self.energy>0)) and self.tags(includes="AL1") and not (self.tags(includes="隐藏单位") or self.hasParent)
color: #00FFFF
[decal_AL2图标]
@copyFromSection: decal_ALB图标
image:ROOT:数据/贴图/图标/AL2.png
isVisible: if (self.hp<self.maxHp or self.shield<memory.护盾上限 or self.resource.屏障<self.resource.最大屏障 or (self.energy<self.maxEnergy and self.energy>0)) and self.tags(includes="AL2") and not (self.tags(includes="隐藏单位") or self.hasParent)
color: #00FFFF
[decal_AL3图标]
@copyFromSection: decal_ALB图标
image:ROOT:数据/贴图/图标/AL3.png
isVisible: if (self.hp<self.maxHp or self.shield<memory.护盾上限 or self.resource.屏障<self.resource.最大屏障 or (self.energy<self.maxEnergy and self.energy>0)) and self.tags(includes="AL3") and not (self.tags(includes="隐藏单位") or self.hasParent)
color: #00FFFF

[decal_AL底]
layer: beforeUI
order: 1.4
image:ROOT:数据/贴图/图标/圆盘.png
onlyWhileAlive: true
alwaysStartDirAtZero: true
xOffsetAbsolute: ${core.radius}*(-1)-3
yOffsetAbsolute: ${core.radius}*(-1)-4
alpha: 1
imageScale: 0.75
isVisible: if (self.hp<self.maxHp or self.shield<memory.护盾上限 or self.resource.屏障<self.resource.最大屏障 or (self.energy<self.maxEnergy and self.energy>0)) and not (self.tags(includes="隐藏单位") or self.hasParent)
color: #000000

[decal_高温条]
@copyFromSection: decal_生命条框
imageScaleX: min(self.resource.高温/(self.maxHp)*20*${core.radius/10}/47,20*${core.radius/10}/47)
alpha: 1
order: 1.11
color: #FF7D00
onlyTeam: any
[decal_低温条]
@copyFromSection: decal_高温条
imageScaleX: min(self.resource.低温/(self.maxHp)*20*${core.radius/10}/47,20*${core.radius/10}/47)
color: #007DFF
[decal_衰化条]
@copyFromSection: decal_高温条
color: #7D00FF
order: 1.04
image:ROOT:数据/贴图/图标/生命条反转.png
imageScaleX: min(min(self.resource.衰化/(self.maxHp)*20*${core.radius/10}/52,(self.hp/self.maxHp)*20*${core.radius/10}/52), self.hp/(self.maxHp+memory.护盾上限+self.resource.最大屏障)*20*${core.radius/10}/52)
xOffsetAbsolute: self.hp/(self.maxHp+memory.护盾上限+self.resource.最大屏障)*20*${core.radius/10}+${core.radius}*(-1)+0.5
[decal_衰化死亡]
layer: beforeUI
order: 1.8
onlyWhileAlive: true
alwaysStartDirAtZero: true
xOffsetAbsolute: ${core.radius}*(1)+6
yOffsetAbsolute: (${core.radius}+10.75)*(-0.75)
alpha: 0.9
imageScale: 0.35
isVisible: if self.resource.衰化>self.hp and self.hp>0 and not self.tags(includes="隐藏单位")
image:ROOT:数据/贴图/图标/衰化.png
[decal_衰化死亡模糊]
@copyFromSection: decal_衰化死亡
image:ROOT:数据/贴图/图标/衰化模糊光.png

[decal_生命条框]
layer: beforeUI
image:ROOT:数据/贴图/图标/生命条框.png
onlyWhileAlive: true
alwaysStartDirAtZero: true
imageScaleX: 20*${core.radius/10}/48
imageScaleY: 0.75
xOffsetAbsolute:${core.radius}*(-1)
yOffsetAbsolute:${core.radius}*(-1)-3
alpha: 1
onlyTeam: any
isVisible: if (self.hp<self.maxHp or self.shield<memory.护盾上限 or self.resource.屏障<self.resource.最大屏障 or (self.energy<self.maxEnergy and self.energy>0)) and not (self.tags(includes="隐藏单位") or self.hasParent)
color: #000000
order: 1.1
[decal_生命条左框]
@copyFromSection: decal_生命条框
image:ROOT:数据/贴图/图标/生命条左框.png
imageScaleX: 0.5
xOffsetAbsolute: ${core.radius}*(-1)-3.5
[decal_生命条右框]
@copyFromSection: decal_生命条框
image:ROOT:数据/贴图/图标/生命条右框.png
imageScaleX: 0.5
xOffsetAbsolute: ${core.radius}-29.5

[decal_绿色生命条]
@copyFromSection: decal_生命条框
imageScaleX: self.hp/(self.maxHp+memory.护盾上限+self.resource.最大屏障)*20*${core.radius/10}/52
image:ROOT:数据/贴图/图标/生命条.png
order: 0.98
color: #00FF00
onlyTeam: own

[decal_黄色生命条]
@copyFromSection: decal_生命条框
imageScaleX: self.hp/(self.maxHp+memory.护盾上限+self.resource.最大屏障)*20*${core.radius/10}/52
image:ROOT:数据/贴图/图标/生命条.png
order: 0.98
color: #FFFF00
onlyTeam: allyNotOwn
[decal_红色生命条]
@copyFromSection: decal_生命条框
imageScaleX: self.hp/(self.maxHp+memory.护盾上限+self.resource.最大屏障)*20*${core.radius/10}/52
image:ROOT:数据/贴图/图标/生命条.png
order: 0.98
color: #FF0000
onlyTeam: enemy

[decal_能量条底]
@copyFromSection: decal_绿色生命条
yOffsetAbsolute: ${core.radius}*(-1)+2
alpha: 1
onlyTeam: any
imageScaleY: 0.375
imageScaleX: 20*${core.radius/10}/52
isVisible: if (self.hp<self.maxHp or self.shield<memory.护盾上限 or self.resource.屏障<self.resource.最大屏障 or (self.energy<self.maxEnergy and self.energy>0)) and not (self.tags(includes="隐藏单位") or self.hasParent or self.maxEnergy<=0)
color: #000088
order: 1.19
[decal_能量条]
@copyFromSection: decal_能量条底
imageScaleX: self.energy/self.maxEnergy*20*${core.radius/10}/52
color: #00FFFF
order: 1.2


[decal_护盾条_1]
@copyFromSection: decal_绿色生命条
isVisible: if (self.hp<self.maxHp or self.shield<memory.护盾上限 or self.resource.屏障<self.resource.最大屏障 or (self.energy<self.maxEnergy and self.energy>0)) and not (self.tags(includes="隐藏单位") or self.hasParent)
xOffsetAbsolute: self.hp/(self.maxHp+memory.护盾上限+self.resource.最大屏障)*20*${core.radius/10}+${core.radius}*(-1)
imageScaleX: (self.shield-self.resource.屏障)/(self.maxHp+memory.护盾上限+self.resource.最大屏障)*20*${core.radius/10}/52
color: #FFFFFF
order: 0.99
onlyTeam: IGNORE

[decal_屏障条_1]
@copyFromSection: decal_绿色生命条
isVisible: if (self.hp<self.maxHp or self.shield<memory.护盾上限 or self.resource.屏障<self.resource.最大屏障 or (self.energy<self.maxEnergy and self.energy>0)) and not (self.tags(includes="隐藏单位") or self.hasParent)
xOffsetAbsolute: (self.hp+self.shield-self.resource.屏障)/(self.maxHp+memory.护盾上限+self.resource.最大屏障)*20*${core.radius/10}+${core.radius}*(-1)
imageScaleX: (self.resource.屏障)/(self.maxHp+memory.护盾上限+self.resource.最大屏障)*20*${core.radius/10}/52
color: #AAAAAA
order: 1.02
onlyTeam: IGNORE
alpha: 0.9

[decal_生命分割线_1]
layer: beforeUI
image:ROOT:数据/贴图/图标/分割线.png
onlyWhileAlive: true
alwaysStartDirAtZero: true
imageScaleX: 0.5
imageScaleY: 0.8
xOffsetAbsolute:((${layer}*300)/(self.maxHp+memory.护盾上限+self.resource.最大屏障))*(20*${core.radius/10})-${core.radius}
yOffsetAbsolute:${core.radius}*(-1)-3.5
alpha: 1
isVisible: if ((self.maxHp+memory.护盾上限+self.resource.最大屏障)>(${layer}*300)) and (self.hp<self.maxHp or self.shield<memory.护盾上限 or self.resource.屏障<self.resource.最大屏障 or (self.energy<self.maxEnergy and self.energy>0)) and (self.maxHp+memory.护盾上限+self.resource.最大屏障)<3300 and not (self.tags(includes="隐藏单位") or self.hasParent)
order: 1.05
@define layer: 1
color: #000000
dirOffset: 15

[decal_生命分割粗线_1]
@copyFromSection: decal_生命分割线_1
xOffsetAbsolute:((${layer}*3000)/(self.maxHp+memory.护盾上限+self.resource.最大屏障))*(20*${core.radius/10})-${core.radius}
isVisible: if ((self.maxHp+memory.护盾上限+self.resource.最大屏障)>(${layer}*3000)) and (self.hp<self.maxHp or self.shield<memory.护盾上限 or self.resource.屏障<self.resource.最大屏障 or (self.energy<self.maxEnergy and self.energy>0)) and (self.maxHp+memory.护盾上限+self.resource.最大屏障)>=3300 and not (self.tags(includes="隐藏单位") or self.hasParent)
imageScaleX: 1.5
@define layer: 1

[decal_生命分割线_2]
@copyFromSection: decal_生命分割线_1
@define layer: 2
[decal_生命分割线_3]
@copyFromSection: decal_生命分割线_1
@define layer: 3
[decal_生命分割线_4]
@copyFromSection: decal_生命分割线_1
@define layer: 4
[decal_生命分割线_5]
@copyFromSection: decal_生命分割线_1
@define layer: 5
[decal_生命分割线_6]
@copyFromSection: decal_生命分割线_1
@define layer: 6
[decal_生命分割线_7]
@copyFromSection: decal_生命分割线_1
@define layer: 7
[decal_生命分割线_8]
@copyFromSection: decal_生命分割线_1
@define layer: 8
[decal_生命分割线_9]
@copyFromSection: decal_生命分割线_1
@define layer: 9
[decal_生命分割线_10]
@copyFromSection: decal_生命分割线_1
@define layer: 10
[decal_生命分割线_11]
@copyFromSection: decal_生命分割线_1
@define layer: 11
[decal_生命分割粗线_2]
@copyFromSection: decal_生命分割粗线_1
@define layer: 2
[decal_生命分割粗线_3]
@copyFromSection: decal_生命分割粗线_1
@define layer: 3
[decal_生命分割粗线_4]
@copyFromSection: decal_生命分割粗线_1
@define layer: 4
[decal_生命分割粗线_5]
@copyFromSection: decal_生命分割粗线_1
@define layer: 5
[decal_生命分割粗线_6]
@copyFromSection: decal_生命分割粗线_1
@define layer: 6
[decal_生命分割粗线_7]
@copyFromSection: decal_生命分割粗线_1
@define layer: 7
[decal_生命分割粗线_8]
@copyFromSection: decal_生命分割粗线_1
@define layer: 8
[decal_生命分割粗线_9]
@copyFromSection: decal_生命分割粗线_1
@define layer: 9
[decal_生命分割粗线_10]
@copyFromSection: decal_生命分割粗线_1
@define layer: 10
[decal_生命分割粗线_11]
@copyFromSection: decal_生命分割粗线_1
@define layer: 11
[decal_生命分割粗线_12]
@copyFromSection: decal_生命分割粗线_1
@define layer: 12
