[action_移动设置]
text:移动设置
description: 打开生命的设置,再次点击以关闭
price:0
buildSpeed:0s
displayType:action
isVisible: if memory.移动设置==false
setUnitMemory: 移动设置=true
pos: 3
alwaysSinglePress: true
[action_移动设置2]
@copyFromSection: action_移动设置
description: 关闭生命的设置,再次点击以开启
setUnitMemory: 移动设置=false
isVisible: if memory.移动设置==true
isGuiBlinking: true
[action_变高]
@define num: +5
text:高度${num}
buildSpeed:0s
displayType:action
description: 自身高度${num}\n当前高度为%{self.resource.高度}
addResourcesWithLogic: 高度=${num}
setUnitStats: targetHeight=self.resource.高度
isVisible: if memory.移动设置==true
alwaysSinglePress: true
[action_变矮]
@copyFromSection: action_变高
@define num: -5
[action_AL1]
text:设置装甲AL1
buildSpeed:0s
displayType:action
description: 自身装甲更改为AL1
isVisible: if memory.移动设置==true
alwaysSinglePress: true
temporarilyAddTags: AL1
temporarilyRemoveTags: AL2,AL3,ALB
isGuiBlinking: if self.tags(includes="AL1")
[action_AL2]
text:设置装甲AL2
buildSpeed:0s
displayType:action
description: 自身装甲更改为AL2
isVisible: if memory.移动设置==true
alwaysSinglePress: true
temporarilyAddTags: AL2
temporarilyRemoveTags: AL1,AL3,ALB
isGuiBlinking: if self.tags(includes="AL2")
[action_AL3]
text:设置装甲AL3
buildSpeed:0s
displayType:action
description: 自身装甲更改为AL3
isVisible: if memory.移动设置==true
alwaysSinglePress: true
temporarilyAddTags: AL3
temporarilyRemoveTags: AL1,AL2,ALB
isGuiBlinking: if self.tags(includes="AL3")
[action_ALB]
text:设置装甲ALB
buildSpeed:0s
displayType:action
description: 自身装甲更改为ALB
isVisible: if memory.移动设置==true
alwaysSinglePress: true
temporarilyAddTags: ALB
temporarilyRemoveTags: AL2,AL3,AL1
isGuiBlinking: if self.tags(includes="ALB")
