[action_生命设置]
text:生命设置
description: 打开生命的设置,再次点击以关闭
price:0
buildSpeed:0s
displayType:action
isVisible: if memory.生命设置==false
setUnitMemory: 生命设置=true
pos: 3
alwaysSinglePress: true
[action_生命设置2]
@copyFromSection: action_生命设置
description: 关闭生命的设置,再次点击以开启
setUnitMemory: 生命设置=false
isVisible: if memory.生命设置==true
isGuiBlinking: true

[action_设置_生命上限+1]
isVisible: if memory.生命设置==true
text:生命上限${number}
description: 当前生命上限: %{self.maxHp}
price:0
buildSpeed:0s
displayType:action
setUnitStats: maxHp=self.maxHp${number}
@define number: +1
pos: 3
alwaysSinglePress: true
[action_设置_生命上限-1]
@copyFromSection: action_设置_生命上限+1
@define number: -1
[action_设置_生命上限+10]
@copyFromSection: action_设置_生命上限+1
@define number: +10
[action_设置_生命上限-10]
@copyFromSection: action_设置_生命上限+1
@define number: -10
[action_设置_生命上限+100]
@copyFromSection: action_设置_生命上限+1
@define number: +100
[action_设置_生命上限-100]
@copyFromSection: action_设置_生命上限+1
@define number: -100
[action_设置_生命上限+1000]
@copyFromSection: action_设置_生命上限+1
@define number: +1000
[action_设置_生命上限-1000]
@copyFromSection: action_设置_生命上限+1
@define number: -1000
[action_设置_生命回复+1]
isVisible: if memory.生命设置==true
text:生命回复${number}
description: 每秒生命自然回复${number}\n当前生命回复速度为%{self.resource.生命回复}
price:0
buildSpeed:0s
displayType:action
addResourcesWithLogic: 生命回复=${number}
setUnitStats: selfRegenRate=(self.resource.生命回复)*${1/60}
@define number: +1
pos: 3
alwaysSinglePress: true
[action_设置_生命回复-1]
@copyFromSection: action_设置_生命回复+1
@define number: -1
[action_设置_生命回复+10]
@copyFromSection: action_设置_生命回复+1
@define number: +10
[action_设置_生命回复-10]
@copyFromSection: action_设置_生命回复+1
@define number: -10
[action_设置_生命回复+100]
@copyFromSection: action_设置_生命回复+1
@define number: +100
[action_设置_生命回复-100]
@copyFromSection: action_设置_生命回复+1
@define number: -100
[action_设置_零血死亡开启]
isVisible: if memory.生命设置==true and memory.零血死亡!=true
text:零血死亡:未开启
description: 开启后0血将移除自我\n点击开启,再次点击以关闭
setUnitMemory: 零血死亡=true
price:0
buildSpeed:0s
displayType:action
pos: 3
alwaysSinglePress: true
[action_设置_零血死亡关闭]
@copyFromSection: action_设置_零血死亡开启
text:零血死亡:已开启
description: 开启后0血将移除自我\n点击关闭,再次点击以开启
setUnitMemory: 零血死亡=false
isVisible: if memory.生命设置==true and memory.零血死亡==true

[action_设置_满血]
text:点击满血
description: 点击后满血
setResourcesWithLogic: hp=self.maxHp
isVisible: if memory.生命设置==true
price:0
buildSpeed:0s
displayType:action
pos: 3
alwaysSinglePress: true