[projectile_1]
@copyFromSection:template_抛射体2
mutatorAL1_areaDamageMultiplier:1
mutatorAL2_areaDamageMultiplier:1
mutatorAL3_areaDamageMultiplier:1
mutator建筑_areaDamageMultiplier:1
areaDamage:100
speed:8
life:2s
image: ●.png
explodeEffect: CUSTOM:●
deflectionPower: 3
