[core]
copyFrom: ROOT:模板/核心.template,ROOT:模板/终界.template, ROOT:模板/复合/军事建筑.template
footprint: 0,0,1,1
constructionFootprint: 0,0,1,1
buildingToFootprintOffsetX: 20
buildingToFootprintOffsetY: 20
mass:25000
radius: 16
isBuilding: true
[template_core]
techLevel: 1
[graphics]
image: 底座.png
image_wreak: 死亡.png
[attack]
canAttack: true
