[core]
copyFrom: ROOT:模板/核心.template,ROOT:模板/■.template
name: 
displayDescription: [建筑] [攻击:] [B]\n■\n[■]\n■发,伤害■,攻击范围■,冷却■s,对■[克■弱■]
maxHp: 
radius: 
buildSpeed: ■s
mass: 
techLevel: 
isBuilding: 
footprint: ■,■,■,■
constructionFootprint: ■,■,■,■
buildingToFootprintOffsetX: 
buildingToFootprintOffsetY: 
[template_core]
NanoP: 0
tags: 对陆
[graphics]
total_frames: 
image: ■.png
image_back: ■底座.png
image_wreak: ■死亡.png
[attack]
canAttack: true
maxAttackRange: 
shootDelay: ■s