displayDescription: [■] [攻击: ■] [AL■]
\n■
\n[纳米装甲]+■HP/s
\n[能量]上限,+■能量/s
\n[充能护盾]上限■,+■护盾/s
\n[激光防御]范围■,耗能■
\n[投影仪]修复,范围■,建造速度■,维修速度■
\n[运载舱]运输量: ■,运输■单位
\n[短/超视野]\n仅揭开■范围的迷雾
\n[裂变核心]死亡时核爆: 伤害■, 范围■
\n[纳米反应堆]+■纳米物质/s
\n[立方构造机]+■数据立方/60s
\n[脉石合成台]+■相位脉石/s
\n[■]伤害■,溅射范围■,攻击范围■,冷却■s,预热■s,耗能■,对■[弱■,克■]
\n[■单位]占用■格运输栏(1小 2-3中 4-8大)