[core]
canNotBeGivenOrdersByPlayer: true
@global parentDie: (substring(str(memory.母机),length(str(memory.母机))-16,length(str(memory.母机))-12) == "dead" or substring(str(memory.母机),length(str(memory.母机))-6,length(str(memory.母机))-2) == "dead")

@memory 母机: unit
[hiddenAction_记录母机]
autoTriggerOnEvent: created
setUnitMemory: 母机=customTarget1
[hiddenAction_回归]
autoTrigger:if (memory.母机.attacking==NULL or distanceBetween(self, memory.母机) >= memory.母机.readUnitMemory('控制范围', type='float')) and not self.hasActiveWaypoint(type="loadInto")
requireConditional: if self.parent==Null
addWaypoint_type:loadInto
addWaypoint_target_fromReference:memory.母机
addWaypoint_target_nearestUnit_team:own
clearActiveWaypoint:true
[hiddenAction_靠近]
autoTrigger:if (distanceBetween(self, memory.母机) > memory.母机.readUnitMemory('控制范围', type='float')) and not self.hasActiveWaypoint(type="loadInto")
addWaypoint_type: touchTarget
addWaypoint_target_fromReference: memory.母机
addWaypoint_target_nearestUnit_team: own
clearActiveWaypoint:true

[hiddenAction_攻击母机目标]
autoTrigger:if memory.母机.attacking!=NULL and distanceBetween(self, memory.母机) <= memory.母机.readUnitMemory('控制范围', type='float')
addWaypoint_type:attack
addWaypoint_target_fromReference:memory.母机.attacking
addWaypoint_target_nearestUnit_team:enemy
addWaypoint_prepend:true
addWaypoint_maxTime:10s
clearActiveWaypoint:true
disconnectFromParent: true
[hiddenAction_母机死亡_随机移动]
autoTrigger:if ${parentDie}==true
addWaypoint_type:attackMove
addWaypoint_prepend:true
addWaypoint_target_nearestUnit_maxRange:20000
addWaypoint_target_nearestUnit_tagged:单位
addWaypoint_target_nearestUnit_team:enemy
addWaypoint_maxTime:10s
clearActiveWaypoint:true
[hiddenAction_母机升级]
autoTriggerOnEvent: newMessage(withTag="删除载机")
deleteSelf: true