[canBuild_reclaim]
name: reclaim
pos: -1
[canBuild_基地]
name: [T2]指挥中心
pos: 0.9
isVisible: false
#if numberOfUnitsInTeam(withTag="基地",lessThan=1,incompleteBuildings=true)
[canBuild_基础]
name: [T1]萃凝熔炉,[T1]守卫前哨,[T1]机械组装厂,[T1]航空站,[T1]舰艇制造厂,[T1]界限守望
pos: 5
isLocked: if not self.globalTeamTags(includes="终界阵营")
isLockedMessage:-锁定-\n需要阵营为[终界]